workflows/phase-slack-trigger.json
{
  "id": "fri-slack-trigger",
  "name": "Feature Request Intelligence - Slack Trigger",
  "nodes": [
    {
      "id": "webhook-001",
      "name": "Webhook - Slack Slash Command",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        300
      ],
      "webhookId": "fri-slack-trigger",
      "parameters": {
        "httpMethod": "POST",
        "path": "fri-slack-trigger",
        "responseMode": "responseNode",
        "options": {}
      }
    },
    {
      "id": "code-parse-slash-001",
      "name": "Code - Parse Slash Command",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        240,
        300
      ],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// Slack sends slash command data as application/x-www-form-urlencoded:\n//   token, team_id, team_domain, channel_id, channel_name,\n//   user_id, user_name, command, text, response_url, trigger_id\n\nconst body = $input.first().json.body || $input.first().json;\nconst text = (body.text || '').trim();\nconst channelId = body.channel_id || '';\nconst userId = body.user_id || '';\nconst userName = body.user_name || '';\nconst responseUrl = body.response_url || '';\n\n// Parse optional parameters from slash command text\n// Supported formats:\n//   /customer-fr                     -> no filters\n//   /customer-fr ios                 -> platform filter\n//   /customer-fr last 7 days         -> time range\n//   /customer-fr ios last 7 days     -> both\nlet platformFilter = '';\nlet daysBack = 30; // default: last 30 days\n\nconst timeMatch = text.match(/last\\s+(\\d+)\\s+days?/i);\nif (timeMatch) {\n  daysBack = parseInt(timeMatch[1], 10);\n  if (isNaN(daysBack) || daysBack < 1) daysBack = 30;\n  if (daysBack > 365) daysBack = 365;\n}\n\n// Everything that isn't the time range is treated as a platform/keyword filter\nconst filterText = text.replace(/last\\s+\\d+\\s+days?/i, '').trim();\nif (filterText) {\n  platformFilter = filterText.toLowerCase();\n}\n\nconst cutoffDate = new Date();\ncutoffDate.setDate(cutoffDate.getDate() - daysBack);\nconst cutoffISO = cutoffDate.toISOString().split('T')[0];\n\nreturn [{\n  json: {\n    channelId: channelId,\n    userId: userId,\n    userName: userName,\n    responseUrl: responseUrl,\n    platformFilter: platformFilter,\n    daysBack: daysBack,\n    cutoffDate: cutoffISO,\n    rawText: text\n  }\n}];"
      }
    },
    {
      "id": "respond-001",
      "name": "Respond to Webhook - Ack",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        480,
        300
      ],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ response_type: 'ephemeral', text: ':mag: Running Feature Request Intelligence analysis' + ($json.platformFilter ? ' (filter: ' + $json.platformFilter + ')' : '') + ' for the last ' + $json.daysBack + ' days. This takes 30-60 seconds, I will post the report here when done.' }) }}",
        "options": {}
      }
    },
    {
      "id": "config-001",
      "name": "Config",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        720,
        300
      ],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// Carry forward the Slack context from the parsed slash command\nconst slackCtx = $node['Code - Parse Slash Command'].json;\n\nreturn [{ json: {\n  apiKey: 'REPLACE_WITH_ANTHROPIC_API_KEY',\n  appId: 'REPLACE_WITH_APP_ID',\n  fileWriterSecret: 'REPLACE_WITH_FILE_WRITER_SECRET',\n  slackBotToken: 'REPLACE_WITH_SLACK_BOT_TOKEN',\n  zendeskSubdomain: 'REPLACE_WITH_ZENDESK_SUBDOMAIN',\n  zendeskQuery: 'type:ticket created>' + slackCtx.cutoffDate,\n  outputPath: 'c:/Users/Ryan/Desktop/Antigravity/Personal/n8n/feature-request-intelligence/outputs',\n  channelId: slackCtx.channelId,\n  userId: slackCtx.userId,\n  userName: slackCtx.userName,\n  responseUrl: slackCtx.responseUrl,\n  platformFilter: slackCtx.platformFilter,\n  daysBack: slackCtx.daysBack,\n  cutoffDate: slackCtx.cutoffDate\n} }];"
      }
    },
    {
      "id": "http-itunes-001",
      "name": "HTTP - iTunes RSS",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        960,
        120
      ],
      "parameters": {
        "method": "GET",
        "url": "={{ 'https://itunes.apple.com/us/rss/customerreviews/id=' + $node['Config'].json.appId + '/sortBy=mostRecent/json' }}",
        "sendHeaders": false
      },
      "continueOnFail": true
    },
    {
      "id": "code-itunes-001",
      "name": "Code - Parse iTunes",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1200,
        120
      ],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const item = $input.first();\nconst entries = (item.json.feed && item.json.feed.entry) || [];\nconst cutoff = $node['Config'].json.cutoffDate;\nconst platformFilter = $node['Config'].json.platformFilter;\n\nconst reviews = entries\n  .filter(function(entry) {\n    return entry['im:rating'] !== undefined;\n  })\n  .map(function(entry) {\n    const rawDate = (entry.updated && entry.updated.label) || '';\n    return {\n      json: {\n        text: ((entry.content && entry.content.label) || (entry.title && entry.title.label) || '').slice(0, 500),\n        source: 'App Store',\n        date: rawDate ? rawDate.split('T')[0] : '',\n        rating: (entry['im:rating'] && entry['im:rating'].label) || ''\n      }\n    };\n  })\n  .filter(function(item) { return item.json.text.trim() !== ''; })\n  .filter(function(item) {\n    // Apply date filter\n    if (cutoff && item.json.date) {\n      return item.json.date >= cutoff;\n    }\n    return true;\n  })\n  .filter(function(item) {\n    // Apply platform filter if set\n    if (platformFilter) {\n      return item.json.text.toLowerCase().indexOf(platformFilter) !== -1 ||\n             item.json.source.toLowerCase().indexOf(platformFilter) !== -1;\n    }\n    return true;\n  });\n\nreturn reviews.length > 0 ? reviews : [{ json: { text: '', source: 'App Store', date: '', rating: '' } }];"
      }
    },
    {
      "id": "code-g2-001",
      "name": "Sample Data - G2 + Typeform",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        960,
        480
      ],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const cutoff = $node['Config'].json.cutoffDate;\nconst platformFilter = $node['Config'].json.platformFilter;\n\nconst rows = [\n  { source: 'G2', date: '2026-03-25', rating: '3', text: 'Would be great to export everything at once instead of page by page.' },\n  { source: 'G2', date: '2026-03-20', rating: '2', text: 'The export limit is a dealbreaker for enterprise use.' },\n  { source: 'G2', date: '2026-03-24', rating: '2', text: 'Notification system is unreliable. Critical for our workflow.' },\n  { source: 'G2', date: '2026-03-22', rating: '2', text: 'PDF uploads are unreliable. Lost work twice.' },\n  { source: 'G2', date: '2026-03-23', rating: '4', text: 'Calendar integration would make this a 5-star product.' },\n  { source: 'G2', date: '2026-03-26', rating: '3', text: 'Dark mode would be a nice quality of life improvement.' },\n  { source: 'Typeform', date: '2026-03-27', rating: '', text: 'Our team wastes 2 hours a week manually exporting in batches.' },\n  { source: 'Typeform', date: '2026-03-26', rating: '', text: 'PDF support is broken on the latest iOS update.' },\n  { source: 'Typeform', date: '2026-03-28', rating: '', text: \"Missed 3 deadlines because notifications didn't fire. This is a serious bug.\" }\n];\n\nconst filtered = rows\n  .filter(function(row) {\n    if (cutoff && row.date) return row.date >= cutoff;\n    return true;\n  })\n  .filter(function(row) {\n    if (platformFilter) {\n      return row.text.toLowerCase().indexOf(platformFilter) !== -1 ||\n             row.source.toLowerCase().indexOf(platformFilter) !== -1;\n    }\n    return true;\n  });\n\nreturn filtered.length > 0\n  ? filtered.map(function(row) { return { json: row }; })\n  : [{ json: { text: '', source: 'G2', date: '', rating: '' } }];"
      }
    },
    {
      "id": "merge-001",
      "name": "Merge",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2,
      "position": [
        1440,
        300
      ],
      "parameters": {
        "mode": "append"
      }
    },
    {
      "id": "code-001",
      "name": "Code - Normalize",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1680,
        300
      ],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const items = $input.all();\nconst feedbackItems = items\n  .map(function(item) {\n    return {\n      text: (item.json.text || item.json.Text || '').toString().trim(),\n      source: (item.json.source || item.json.Source || 'Unknown').toString().trim(),\n      date: (item.json.date || item.json.Date || '').toString().trim()\n    };\n  })\n  .filter(function(item) { return item.text !== ''; })\n  .map(function(item) { item.text = item.text.slice(0, 1000); return item; });\n\nif (feedbackItems.length === 0) {\n  // Instead of throwing, return a signal so we can post a \"no data\" message to Slack\n  return [{\n    json: {\n      total_items: 0,\n      source_count: 0,\n      empty: true,\n      body: ''\n    }\n  }];\n}\n\nconst sources = feedbackItems.map(function(i) { return i.source; });\nconst uniqueSources = sources.filter(function(v, i) { return sources.indexOf(v) === i; });\n\nconst system = 'You are a product manager synthesizing user research. Group customer feedback into named themes.';\nconst user = 'Cluster these feedback items into 5-10 themes. Return a JSON array ONLY with no markdown and no explanation. Each element: theme_id (integer), theme_name (3-6 word noun phrase), items (array with text and source fields). Start with [ and end with ].\\n\\nFeedback:\\n' + JSON.stringify(feedbackItems);\n\nreturn [{\n  json: {\n    total_items: feedbackItems.length,\n    source_count: uniqueSources.length,\n    empty: false,\n    body: JSON.stringify({\n      model: 'claude-sonnet-4-6',\n      max_tokens: 4096,\n      system: system,\n      messages: [{ role: 'user', content: user }]\n    })\n  }\n}];"
      }
    },
    {
      "id": "if-empty-001",
      "name": "IF - Has Data",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1920,
        300
      ],
      "parameters": {
        "conditions": {
          "options": {
            "combinator": "and"
          },
          "conditions": [
            {
              "id": "cond-empty",
              "leftValue": "={{ $json.empty }}",
              "rightValue": false,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ]
        }
      }
    },
    {
      "id": "code-no-data-001",
      "name": "Code - No Data Slack Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2160,
        500
      ],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const config = $node['Config'].json;\nconst filter = config.platformFilter;\nconst days = config.daysBack;\n\nlet msg = 'No feedback items found';\nif (filter) msg += ' matching \"' + filter + '\"';\nmsg += ' in the last ' + days + ' days.';\nmsg += ' Try a broader search or a longer time range.';\n\nreturn [{\n  json: {\n    channelId: config.channelId,\n    slackBody: JSON.stringify({\n      channel: config.channelId,\n      text: msg\n    })\n  }\n}];"
      }
    },
    {
      "id": "http-slack-no-data-001",
      "name": "HTTP - Slack Post No Data",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        2400,
        500
      ],
      "parameters": {
        "method": "POST",
        "url": "https://slack.com/api/chat.postMessage",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ 'Bearer ' + $node['Config'].json.slackBotToken }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ $json.slackBody }}"
      },
      "continueOnFail": true
    },
    {
      "id": "http-001",
      "name": "HTTP - Claude Clustering",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        2160,
        300
      ],
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            },
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-api-key",
              "value": "REPLACE_WITH_ANTHROPIC_API_KEY"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ $json.body }}"
      },
      "continueOnFail": true
    },
    {
      "id": "code-002",
      "name": "Code - Parse Clusters",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2400,
        300
      ],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const item = $input.first();\nif (item.json.error) {\n  throw new Error('Claude API error: ' + (item.json.error.message || JSON.stringify(item.json.error)));\n}\nif (!item.json.content || !item.json.content[0]) {\n  throw new Error('Unexpected response from Claude: ' + JSON.stringify(item.json).slice(0, 200));\n}\nlet text = item.json.content[0].text.trim();\n\nif (text.charAt(0) !== '[') {\n  const start = text.indexOf('[');\n  const end = text.lastIndexOf(']');\n  if (start !== -1 && end !== -1) {\n    text = text.slice(start, end + 1);\n  }\n}\nlet clusters;\ntry {\n  clusters = JSON.parse(text);\n} catch (e) {\n  throw new Error('Failed to parse Claude clustering response: ' + e.message + ' | Raw: ' + text.slice(0, 300));\n}\n\nconst system = 'You are a product manager prioritizing a backlog using a RICE-adjacent scoring framework.';\nconst user = 'Score each of these feedback theme clusters on 4 dimensions (1-10 each):\\n- frequency: relative cluster size vs others (10 = most mentions)\\n- sentiment: emotional charge and urgency (10 = highest)\\n- revenue_signal: connection to churn, enterprise accounts, or upgrade blockers (10 = strongest)\\n- effort_hint: apparent implementation complexity (10 = simplest to build)\\n\\nComposite score: Math.round((frequency*2 + sentiment*2 + revenue_signal*3 + effort_hint*1) / 8 * 10)\\n\\nReturn JSON array ONLY, no markdown, no explanation. Each element: theme_id, theme_name, item_count, frequency_score, sentiment_score, revenue_signal_score, effort_hint_score, composite_score, scoring_rationale (2 sentences). Start with [ end with ].\\n\\nClusters:\\n' + JSON.stringify(clusters);\n\nreturn [{\n  json: {\n    total_items: $node['Code - Normalize'].json.total_items,\n    source_count: $node['Code - Normalize'].json.source_count,\n    clusters: clusters,\n    body: JSON.stringify({\n      model: 'claude-sonnet-4-6',\n      max_tokens: 2048,\n      system: system,\n      messages: [{ role: 'user', content: user }]\n    })\n  }\n}];"
      }
    },
    {
      "id": "http-002",
      "name": "HTTP - Claude Scoring",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        2640,
        300
      ],
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            },
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-api-key",
              "value": "REPLACE_WITH_ANTHROPIC_API_KEY"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ $json.body }}"
      },
      "continueOnFail": true
    },
    {
      "id": "code-003",
      "name": "Code - Parse Scores",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2880,
        300
      ],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const item = $input.first();\nif (item.json.error) {\n  throw new Error('Claude API error: ' + (item.json.error.message || JSON.stringify(item.json.error)));\n}\nif (!item.json.content || !item.json.content[0]) {\n  throw new Error('Unexpected response from Claude: ' + JSON.stringify(item.json).slice(0, 200));\n}\nlet text = item.json.content[0].text.trim();\n\nif (text.charAt(0) !== '[') {\n  const start = text.indexOf('[');\n  const end = text.lastIndexOf(']');\n  if (start !== -1 && end !== -1) {\n    text = text.slice(start, end + 1);\n  }\n}\nlet scores;\ntry {\n  scores = JSON.parse(text);\n} catch (e) {\n  throw new Error('Failed to parse Claude scoring response: ' + e.message + ' | Raw: ' + text.slice(0, 300));\n}\nscores.sort(function(a, b) { return b.composite_score - a.composite_score; });\n\nconst clusters = $node['Code - Parse Clusters'].json.clusters;\nconst today = new Date().toISOString().split('T')[0];\nconst totalItems = $node['Code - Normalize'].json.total_items;\nconst sourceCount = $node['Code - Normalize'].json.source_count;\nconst outputPath = $node['Config'].json.outputPath;\n\nconst header = '# Feature Request Intelligence Report\\n**Generated:** ' + today + '\\n**Sources:** ' + totalItems + ' items across ' + sourceCount + ' sources\\n**Themes identified:** ' + scores.length;\n\nconst system = 'You are a senior product manager writing an intelligence report. Be direct, specific, and strategic. Write for time-constrained PMs and stakeholders.';\nconst user = 'Write a Markdown feature request intelligence report. Start with this exact header block (copy verbatim):\\n\\n' + header + '\\n\\nThen include:\\n1. ## Executive Summary (2-3 sentences on what customers want most and why it matters now)\\n2. ## Prioritized Themes, one ### subsection per theme with: score, frequency, sentiment, revenue signal, 2 representative quotes from the cluster items, 1-sentence recommendation\\n3. ## Recommended Next Actions (3 concrete bullets)\\n\\nScored themes (sorted by priority):\\n' + JSON.stringify(scores) + '\\n\\nOriginal clusters with full quote list:\\n' + JSON.stringify(clusters);\n\nreturn [{\n  json: {\n    filename: outputPath + '/' + today + '-feature-request-report.md',\n    scores: scores,\n    total_items: totalItems,\n    source_count: sourceCount,\n    body: JSON.stringify({\n      model: 'claude-sonnet-4-6',\n      max_tokens: 4096,\n      system: system,\n      messages: [{ role: 'user', content: user }]\n    })\n  }\n}];"
      }
    },
    {
      "id": "http-003",
      "name": "HTTP - Claude Report",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        3120,
        300
      ],
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            },
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-api-key",
              "value": "REPLACE_WITH_ANTHROPIC_API_KEY"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ $json.body }}"
      },
      "continueOnFail": true
    },
    {
      "id": "code-004",
      "name": "Code - Format Output",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3360,
        300
      ],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const item = $input.first();\nif (item.json.error) {\n  throw new Error('Claude API error: ' + (item.json.error.message || JSON.stringify(item.json.error)));\n}\nif (!item.json.content || !item.json.content[0]) {\n  throw new Error('Unexpected response from Claude: ' + JSON.stringify(item.json).slice(0, 200));\n}\nconst reportContent = item.json.content[0].text;\nconst parsed = $node['Code - Parse Scores'].json;\n\nreturn [{\n  json: {\n    filename: parsed.filename,\n    report: reportContent,\n    scores: parsed.scores,\n    total_items: parsed.total_items,\n    source_count: parsed.source_count,\n    body: JSON.stringify({\n      filename: parsed.filename,\n      content: reportContent\n    })\n  }\n}];"
      }
    },
    {
      "id": "code-slack-report-001",
      "name": "Code - Format Slack Report",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3600,
        300
      ],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const item = $input.first();\nconst report = item.json.report;\nconst scores = item.json.scores || [];\nconst today = new Date().toISOString().split('T')[0];\nconst totalItems = item.json.total_items;\nconst sourceCount = item.json.source_count;\nconst config = $node['Config'].json;\nconst channelId = config.channelId;\nconst userId = config.userId;\nconst platformFilter = config.platformFilter;\nconst daysBack = config.daysBack;\n\n// Extract executive summary from the markdown report\nconst execMatch = report.match(/## Executive Summary\\n([\\s\\S]*?)(?=\\n## )/);\nconst execSummary = execMatch ? execMatch[1].trim().replace(/\\n+/g, ' ').slice(0, 400) : '';\n\nconst filterNote = platformFilter ? ' | Filter: \"' + platformFilter + '\"' : '';\n\nconst blocks = [\n  {\n    \"type\": \"header\",\n    \"text\": {\"type\": \"plain_text\", \"text\": \"Feature Request Intelligence, \" + today}\n  },\n  {\n    \"type\": \"context\",\n    \"elements\": [\n      {\"type\": \"mrkdwn\", \"text\": \"Requested by <@\" + userId + \"> | Last \" + daysBack + \" days\" + filterNote}\n    ]\n  },\n  {\n    \"type\": \"section\",\n    \"fields\": [\n      {\"type\": \"mrkdwn\", \"text\": \"*Items analyzed:* \" + totalItems},\n      {\"type\": \"mrkdwn\", \"text\": \"*Sources:* \" + sourceCount},\n      {\"type\": \"mrkdwn\", \"text\": \"*Themes found:* \" + scores.length}\n    ]\n  }\n];\n\nif (execSummary) {\n  blocks.push({\"type\": \"section\", \"text\": {\"type\": \"mrkdwn\", \"text\": execSummary}});\n}\n\nblocks.push({\"type\": \"divider\"});\nblocks.push({\"type\": \"section\", \"text\": {\"type\": \"mrkdwn\", \"text\": \"*Top Priority Themes:*\"}});\n\nscores.slice(0, 5).forEach(function(theme, i) {\n  blocks.push({\n    \"type\": \"section\",\n    \"text\": {\n      \"type\": \"mrkdwn\",\n      \"text\": \"*\" + (i + 1) + \". \" + theme.theme_name + \"* , Score: \" + theme.composite_score + \"/100\\n\" + (theme.scoring_rationale || '')\n    }\n  });\n});\n\nif (scores.length > 5) {\n  blocks.push({\n    \"type\": \"context\",\n    \"elements\": [{\"type\": \"mrkdwn\", \"text\": \"_\" + (scores.length - 5) + \" more themes in full report_\"}]\n  });\n}\n\nreturn [{\n  json: {\n    channelId: channelId,\n    filename: item.json.filename,\n    slackBody: JSON.stringify({\n      channel: channelId,\n      text: \"Feature Request Intelligence Report, \" + today,\n      blocks: blocks,\n      unfurl_links: false\n    }),\n    fileWriterBody: item.json.body\n  }\n}];"
      }
    },
    {
      "id": "http-slack-post-001",
      "name": "HTTP - Slack Post Report",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        3840,
        200
      ],
      "parameters": {
        "method": "POST",
        "url": "https://slack.com/api/chat.postMessage",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ 'Bearer ' + $node['Config'].json.slackBotToken }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ $json.slackBody }}"
      },
      "continueOnFail": true
    },
    {
      "id": "http-file-writer-001",
      "name": "HTTP - File Writer",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        3840,
        400
      ],
      "parameters": {
        "method": "POST",
        "url": "http://localhost:9998",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "X-Writer-Secret",
              "value": "={{ $node['Config'].json.fileWriterSecret }}"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ $json.fileWriterBody }}"
      },
      "continueOnFail": true
    }
  ],
  "connections": {
    "Webhook - Slack Slash Command": {
      "main": [
        [
          {
            "node": "Code - Parse Slash Command",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code - Parse Slash Command": {
      "main": [
        [
          {
            "node": "Respond to Webhook - Ack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respond to Webhook - Ack": {
      "main": [
        [
          {
            "node": "Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Config": {
      "main": [
        [
          {
            "node": "HTTP - iTunes RSS",
            "type": "main",
            "index": 0
          },
          {
            "node": "Sample Data - G2 + Typeform",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP - iTunes RSS": {
      "main": [
        [
          {
            "node": "Code - Parse iTunes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code - Parse iTunes": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sample Data - G2 + Typeform": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Code - Normalize",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code - Normalize": {
      "main": [
        [
          {
            "node": "IF - Has Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF - Has Data": {
      "main": [
        [
          {
            "node": "HTTP - Claude Clustering",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code - No Data Slack Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code - No Data Slack Message": {
      "main": [
        [
          {
            "node": "HTTP - Slack Post No Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP - Claude Clustering": {
      "main": [
        [
          {
            "node": "Code - Parse Clusters",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code - Parse Clusters": {
      "main": [
        [
          {
            "node": "HTTP - Claude Scoring",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP - Claude Scoring": {
      "main": [
        [
          {
            "node": "Code - Parse Scores",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code - Parse Scores": {
      "main": [
        [
          {
            "node": "HTTP - Claude Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP - Claude Report": {
      "main": [
        [
          {
            "node": "Code - Format Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code - Format Output": {
      "main": [
        [
          {
            "node": "Code - Format Slack Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code - Format Slack Report": {
      "main": [
        [
          {
            "node": "HTTP - Slack Post Report",
            "type": "main",
            "index": 0
          },
          {
            "node": "HTTP - File Writer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "templateCredsSetupCompleted": false,
    "instanceId": ""
  }
}